@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #1F2937 !important;
}

.primary_shadow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09); 
  transition: box-shadow 0.1s ease; 
}

.primary_shadow:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}
.inter_font {
  font-family: 'Inter Tight', sans-serif;
}

@media screen and (max-width: 575px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px !important;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px !important;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px !important;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
    margin: auto;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
    margin: auto;
  }
}