.menu {
  display: none;
}

.open {
  display: flex !important;
}

@media screen and (max-width: 780px) {
  .menu {
    display: block;
  }

  nav ul {
    display: none !important;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px !important;
    height: 225px;
    top: 8%;
    width: 50%;
    margin: auto;
    right: 10%;
    /* left: 50%; */
    border-radius: 8px;
    z-index: 99;
    background-color: #F5F5F5;
  }
}